.codeWrapper {
    width: 100%;
    height: auto;
}

.subtitle {
    font-family: DailySans, serif;
    margin-top: 2rem;
}

.codeNav {
    display: flex;
    gap: 1rem;
}

.codeButton {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background: var(--white);
    border: 1px solid var(--black);
    color: var(--black);
    border-radius: 4px;
    transition: background 0.2s ease;
    font-family: 'ABCFavorit', sans-serif;
}

.codeButton:hover {
    background: var(--light-grey);
}

.codeButton.active {
    background: var(--purple);
    border: 1px solid var(--purple);
    color: white;
}

.codeTextWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.codeText {
    font-family: 'ABCFavorit', sans-serif;
    color: var(--black);
    font-size: 1rem;
    margin: 0;
}

.copyButton {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background: var(--white);
    border: 1px solid var(--black);
    color: var(--black);
    border-radius: 4px;
    transition: background 0.2s ease;
    font-family: 'ABCFavorit', sans-serif;
    margin: 1rem;
}

.copyButton:hover {
    background: var(--light-grey);
}

.copyButton:active {
    background: var(--purple);
    border: 1px solid var(--purple);
    color: white;
}

.copy_icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.25rem;
}

.inlineCode {
    color:var(--purple)
}