.wip-text {
    margin: 2rem;
    font-family: 'ABCFavorit', sans-serif;
    font-size: 2rem;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 1rem;
    min-width: 2rem;
}